/* Exercise 1 */
body {
  margin: 0;
  border: 5px solid black;
  height: 98vh;
  width: 98vw;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  top: 50px;
  left: 50px;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  top: 50px;
  left: 50px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 50px;
  left: 50px;
}

/* Exercise 2 */
/* body {
  margin: 0;
  padding: 0;
  border: 5px solid black;
  height: 98vh;
  width: 98vw;
  position: absolute;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  top: 0;
  right: 0;
} */

/* Exercise 3 */
/* body {
  margin: 0;
  border: 5px solid black;
  height: 98vh;
  width: 98vw;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  bottom: 0;
  right: -200px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  left: 0;
} */

/* Exercise 4 */
/* body {
  margin: 0;
  border: 5px solid black;
  height: 98vh;
  width: 98vw;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
  position: absolute;
  top: 0px;
  left: 0px;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: relative;
  left: -100px;
  top: -100px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  right: 0;
  bottom: 0;
} */

/* Exercise 5 */
/* body {
  margin: 0;
  border: 5px solid black;
  height: 98vh;
  width: 98vw;
  position: fixed;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  width: 300px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  bottom: 0;
  right: 0;
}

.three {
  width: 200px;
  height: 200px;
  background-color: green;
  position: absolute;
  top: -200px;
}

.four {
  width: 100px;
  height: 100px;
  background-color: blue;
  position: absolute;
  left: -1346px;
  top: -452px;
} */